{{ attach_library('<%= project _%>/<%= tag _%>.library') }}

{%
  set classes = [
    '<%= tag _%>',
<% if (group) { -%>
    '<%= group _%>',
<%_ } -%>
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <pre>@TODO</pre>
  {% endblock %}
</div>